html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  background-image: url(img/background.jpg);
  background-color: #404040;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

#app {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.floatRight {
  float: right;
}

.clear {
  clear: both;
}

.stats {
  height: 300px;
  border: 1px silver solid;
}

.upgrades {
  height: 300px;
  border: 1px silver solid;
}

.button-section {
  height: 300px;
  border: 1px silver solid;
}

.trainImage {
  height: 100px;
  width: 400px;
  background-image: url("/img/trains-profile.jpg");
  background-position: 0px -250px;
  position: relative;
  transform: scaleX(-1);
  background-size: 400px;
}
