html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  background-image: url(img/background.jpg);
  background-color: #404040;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}
